$primary: #90ADC6;
$primary-light: lighten($primary, 30);
$secondary: #E9EAEC;
$tertiary: #FAD02C;
$quarternary: #333652;

$success: rgb(29, 77, 25);
$danger: rgb(182, 0, 0);

@mixin backgroundColor($color) {
    background-color: $color !important;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.success {
    color:$success;
}

.danger {
    color: $danger;
}

.primary {
    color: $primary;

    &-bg {
        @include backgroundColor($primary);
    }
}

.primary-light {
    color: $primary-light;

    &-bg {
        @include backgroundColor($primary-light);
    }
}

.secondary {
    color: $secondary;
}

.tertiary {
    color: $tertiary;

    &-bg {
        @include backgroundColor($tertiary);
    }
}

.quarternary {
    color: $quarternary;

    &-bg {
        @include backgroundColor($quarternary);
    }
}